<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="chat-container">
        {{!-- nav bar --}}
        <header class="chat-header">
            <div>FSE Chat Room</div>
            <form id="logout-form" action="/user/logout">
                <input type="submit" value="Logout" />
            </form>
        </header>
        {{!-- scrollable chat section --}}
        <section id="chat-box" class="chat-box scrollable">
            {{!-- message box --}}
            <div class="message-box">
                <div class="message-header">
                    <div class="message-name">DUMMY</div>
                    <div class="message-timestamp">06.06.2023 9:53PM</div>
                </div>
                <div class="spacer-v-4"></div>
                <p class="message-content">Hello world</p>
            </div>
        </section>
        {{!-- input and submit form --}}
        <form id="chat-form">
            <div class="form-group-vertical">
                <textarea id="message-input" class="message-input" form="chat-form" name="message"></textarea>
                <div class="spacer-v-8"></div>
                <div class="chat-footer">
                    <button type="submit">Post</button>
                </div>
            </div>
        </form>

    </div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script src="chatRoomScript.js"></script>

</html>