/*reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

table {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    text-align: initial;
}

/*reset end*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container>* {
    max-width: 300px;
}

.error-message {
    color: red;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40vw;
}


.spacer-v-4 {
    height: 4px;
}

.spacer-v-8 {
    height: 8px;
}

.spacer-v-24 {
    height: 24px;
}

.spacer-h-8 {
    width: 8px;
}

.form-group-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.form-group-horizontal {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-around;
}

.form-btn {
    flex-grow: 1;
}

.input-label {
    font-weight: bold;
}

.chat-container {
    display: flex;
    flex-direction: column;
    /* max-width: 760px; */
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.chat-container>* {
    /* fit parent container, but max at 760px */
    width: 100%;
    max-width: 760px;
}

@media (max-width: 760px) {

    /* for screen smaller than 760px, max-width fits parent */
    .chat-container>* {
        max-width: 100%;
    }
}

.chat-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    /* width: 100vw; */
    height: 5vh;
    padding: 4px;
    background-color: lightgrey;
}


.chat-box {
    height: 50vh;
    padding: 8px;
}

.scrollable {
    overflow: scroll;
    scroll-behavior: smooth;
}

.chat-footer {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    padding: 4px;
}

.message-box {
    margin: 8px 4px;
    padding: 12px;
    background-color: aqua;
    border-radius: 10px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.message-input {
    height: 20vh;
    margin: 0px 12px;
    border-radius: 10px;
}